# Compiled class file
*.class

# Log file
*.log

# IntelliJ IDEA
.idea/
*.iml
out/

# Gradle
.gradle/
build/

# Добавляем явное исключение, чтобы этот файл НИКОГДА не игнорировался
!gradle/wrapper/gradle-wrapper.jar

# Конфигурационный файл
app.properties