# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# IntelliJ IDEA
.idea/
*.iml
out/

# Gradle
.gradle
build/
!build/config/

# Конфигурационный файл
app.properties
# Ignore Gradle build output directory
build
