name: Java CI/CD Pipeline

on:
  push:
    branches: [ "main" ] # Запускать при пуше в main
  pull_request:
    branches: [ "main" ] # Запускать при создании PR в main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Build with Gradle
        run: ./gradlew build